body {
  margin: 0;
  background-color: black;
}

.app {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  height: 100vh;
}

.main__list-characters {
  margin: 0;
  padding: 0 40px;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box__name {
  background-color: rgb(0, 225, 255);
  width: 300px;
  text-decoration: none;
}

.link__characters {
  text-decoration: none;
  color: white;
}

.list__characters {
  list-style: none;
}
.title__name {
  margin: 15px;
}

.subtitle__name {
  margin: 15px;
}


.input {
  height: 50px;
  width: 450px;
  padding: 0;
  margin: 45px 0 45px;
  background-color: black;
  border: 2px solid rgb(0, 225, 255);
  color: white;
  font-size: 24px;
}

.main__title {
  background-image: url(../src/logoRick.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 250px;
  height: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detail__card {
  background-color: rgb(0, 225, 255);
  margin: 0;
  width: 800px;
  
}

.return__app-back {
  color: white;
}
