.app {
  background-color: black;
 color: white;
}

.list__characters {
  list-style: none;  
}

.main__title {
  height: 1px;
  overflow: hidden;
}

.logo__title {
  background-image: url(../src/logoRick.png);
  background-repeat: no-repeat;
  background-size: contain;
 
 

}
