.app {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.list__characters {
  list-style: none;
}

.main__title {
  background-image: url(../src/logoRick.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 250px;
  height: 1px;
  overflow: hidden;
}

.detail__card {
  background-color: rgb(0, 225, 255);
  padding: 0 30px 0 50px;
  width: 800px;
}
